<h2>ようこそ Bookers へ！</h2><br>
<div class="social">
<strong> Bookers </strong>は、さまざまな書籍に関するあなたの意見や</div><br>
<div class="social2">
印象を共有し交換することができます</div><br>

<span><a href="/books">start</a></span>